name: Test .NET solution or project
permissions:
  packages: read
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test:
    uses: devantler-tech/reusable-workflows/.github/workflows/ci-dotnet-test.yaml@0e68692337af526443489c48c5c9b199080f2b8d # v1.21.1
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
