name: Test .NET solution or project
permissions:
  packages: read
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test:
    uses: devantler-tech/reusable-workflows/.github/workflows/ci-dotnet-test.yaml@cbc65fc546c83ff7fbb944948fb68c3abecadfb3 # v1.19.0
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
